<!--
    #authors:   Kaleb Eberhart
    #date:      04/20/2018
    #course:    CST-247
    #professor: Mark Reha
    #project:   Benchmark v.1
    #file:      Index.cshtml
    #revision:  1.0
    #synapsis:  This view is the main page for the application. It includes a logo made with paint
-->
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body>
    <div style="min-height:86vh;" align="center">
        <br /><br /><br />
        <img src="assets/img/BibleLogo.png">
    </div>
</body>
</html>