<!--
    #authors:   Kaleb Eberhart
    #date:      04/20/2018
    #course:    CST-247
    #professor: Mark Reha
    #project:   Benchmark v.1
    #file:      _Footer.cshtml
    #revision:  1.0
    #synapsis:  This partial view is used to display the footer at the bottom of each page.
-->
<div class="footer-basic">
    <footer>
        <p class="copyright" style="color:#000000;background-color:#ffffff;">Bible Search © 2018</p>
    </footer>
</div>