<!--
    #authors:   Kaleb Eberhart
    #date:      04/20/2018
    #course:    CST-247
    #professor: Mark Reha
    #project:   Benchmark v.1
    #file:      _HeaderFiles.cshtml
    #revision:  1.0
    #synapsis:  This partial view is used to import the css files, set the title, 
                and import the javascript files.
-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bible Search</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="~/assets/css/Navigation-Clean1.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
</head>